#Unity files
Jimm's Achievement System Source Code/Library/
Jimm's Achievement System Source Code/Logs/
Jimm's Achievement System Source Code/Temp/
Jimm's Achievement System Source Code/UserSettings/

#Visual Studio folders
Jimm's Achievement System Source Code/.vs/

#Visual Studio files
Jimm's Achievement System Source Code/.vsconfig
Jimm's Achievement System Source Code/*.sln
Jimm's Achievement System Source Code/*.csproj